<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>home</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div class="main__banner">
          <img src="/img/bannerPrueba.jpg" alt="Banner" class="main__banner__img">
        </div>
        <section class="section">
          <div class="section__destacados">
            <h2 class="section__destacados__h2">Productos Destacados</h2>
            <!---->
            <% products.forEach(product=> { %>
              <article class="section__productView">
               <div class="section__productView__img">
                <a href="products/detalleProd"><img class="section__productView__img__archivo" src="/img/<%= product.image %>" alt="camperaJeanCordero"></a>
              </div> 
              <div class="section__productView__info">
                <p class="section__productView__info__productName">
                  <%= product.nombre %>
                </p>
                <p class="section__productView__info__precio">
                  <%= product.precio %>
                </p>
              </div>
              </article>
              <% }) %>
            
            <!---->
            <div class="section__ofertas">
            <h2 class="section__ofertas__h2">Ofertas</h2>    
            <div class="section__ofertas"></div>
            <% products.forEach(product=> { %>
              <article class="section__productView">
               <div class="section__productView__img">
                <a href="products/detalleProd"><img class="section__productView__img__archivo" src="/img/<%= product.image %>" alt="camperaJeanCordero"></a>
              </div> 
              <div class="section__productView__info">
                <p class="section__productView__info__productName">
                  <%= product.nombre %>
                </p>
                <p class="section__productView__info__precio">
                  <%= product.precio %>
                </p>
              </div>
              </article>
              <% }) %>
            <!---->
          </div>
          
          </div>
        </section>
      </main>
      
    <%- include('../partials/footer.ejs') %>
</body>
</html>