<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>login</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1>perfil de usuario</h1>
        
        <h2> Hello <%= user.nombre%></h2>
        <img src="/img/users/<%= user.profile %>">
        <h3> <%= user.email %></h3>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>